{{ define "main" }}
{{ .Content }}
<p class="big fw-200">Learn more about our members and discover the IoT solutions
  they&nbsp;offer&nbsp;today.</p>
<div class="eclipsefdn-members-list" data-ml-wg="internet-things-iot"
  data-ml-template="logo-title-with-levels" data-ml-default-level="Supporter Member">
</div>
</div>
{{ end }}